@*@{
    ViewData["Title"] = "Home Page";
}*@



@*start here*@
@model ProductListViewModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - Home Page</title>
    
</head>
        <body>
            
            <div class="row d-inline">
                @foreach (var p in Model.Products)
                {
                    <partial name="ProductSummary" model="p" />


                }
            </div>


            <div page-model="@Model.PagingInfo" page-action="Index" page-classes-enabled="true"
                 page-class="btn" page-class-normal="btn-outline-dark"
                 page-class-selected="btn-primary" class="btn-group pull-right m-1"></div>

            <script src="~/js/site.js" asp-append-version="true"></script>
           
        </body>

</html>